<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Edit To-DO...</title>

<link rel="stylesheet" th:href="@{/css/edit.css}" >

</head>
<body>
	
<div class="form-container">
    <p>Edit ToDo</p>
<form class="form" th:action="@{/todo/update/{id}(id=*{id})}" th:method="post" th:object="${editToDo}">
    <label for="title">Title</label>
    <input type="text" class="input" placeholder="Enter the title" th:field="*{title}">
    
    <label for="date">Date</label>
    <input type="date" class="input" placeholder="Enter the date" th:field="*{date}"> 
   
    
    <button>UPDATE</button>
</form>
</div>

</body>
</html>